---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MobileNav from "../components/MobileNav.astro";
import SidebarOne from "../components/SidebarOne.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="custom-cursor__cursor"></div>
  <div class="custom-cursor__cursor-two"></div>

  <div class="preloader">
    <div
      class="preloader__image"
      style="background-image: url(assets/images/loader.png);"
    >
    </div>
  </div>

  <div class="page-wrapper">
    <Header />
    <section class="page-header">
      <div
        class="page-header__bg"
        style="background-image: url('assets/images/backgrounds/page-header-bg-1-1.png');"
      >
      </div><!-- /.page-header__bg -->
      <div class="container">
        <h2 class="page-header__title">Our Collections</h2>
        <ul class="floens-breadcrumb list-unstyled">
          <li><i class="icon-home"></i> <a href="/">Home</a></li>
          <li><span>Our Collections</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
      </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="services-page section-space">
      <div class="container">
        <div class="row gutter-y-30">
          <div class="col-xl-4 col-md-6">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/collections/1.Artic_Glow_Texture.jpeg"
                  alt="1.Artic Glow"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-tiling-concrete.html">Artic Glow</a>
                </h3><!-- /.service-card-two__title -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.col-xl-4 col-md-6 -->
          <div class="col-xl-4 col-md-6">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/collections/Blanc_Flair.jpg"
                  alt="Industrial Flooring"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-industrial-flooring.html">Blanc Flair</a>
                </h3><!-- /.service-card-two__title -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.col-xl-4 col-md-6 -->
          <div class="col-xl-4 col-md-6">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/collections/Blanc_Luxury.jpg"
                  alt="Vinyl Plank"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-vinyl-plank.html">Blanc Luxury</a>
                </h3><!-- /.service-card-two__title -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.col-xl-4 col-md-6 -->
          <div class="col-xl-4 col-md-6">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/collections/Blanc_Opal.jpg"
                  alt="Carpets & rugs"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-carpets-rugs.html">Blanc Opal</a>
                </h3><!-- /.service-card-two__title -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.col-xl-4 col-md-6 -->
          <div class="col-xl-4 col-md-6">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/collections/Golden_Storm.jpg"
                  alt="Oak Flooring"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-oak-flooring.html">Golden Storm</a>
                </h3><!-- /.service-card-two__title -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.col-xl-4 col-md-6 -->
          <div class="col-xl-4 col-md-6">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/collections/Artic_Waive_Texture.jpeg"
                  alt="Vein Patterns"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-vein-patterns.html">Artic Waive</a>
                </h3><!-- /.service-card-two__title -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.col-xl-4 col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

    <Footer />
  </div>

  <MobileNav />
  <!-- /.mobile-nav__wrapper -->

  <SidebarOne />

  <!-- /.sidebar-one -->

  <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
    <span class="scroll-to-top__text">back top</span>
    <span class="scroll-to-top__wrapper"
      ><span class="scroll-to-top__inner"></span></span
    >
  </a>
</Layout>
