---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="custom-cursor__cursor"></div>
  <div class="custom-cursor__cursor-two"></div>

  <div class="preloader">
    <div
      class="preloader__image"
      style="background-image: url(assets/images/loader.png);"
    >
    </div>
  </div>

  <div class="page-wrapper">
    <Header />
    <section class="page-header">
      <div
        class="page-header__bg"
        style="background-image: url('assets/images/backgrounds/page-header-bg-1-1.png');"
      >
      </div><!-- /.page-header__bg -->
      <div class="container">
        <h2 class="page-header__title">Our Collections</h2>
        <ul class="floens-breadcrumb list-unstyled">
          <li><i class="icon-home"></i> <a href="/">Home</a></li>
          <li><span>Our Collections</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
      </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="gallery-one section-space">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-1.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-1.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-8.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-8.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-9.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-9.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-4.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-4.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-10.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-10.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-11.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-11.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-7.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-7.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-12.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-12.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="gallery-one__card">
              <img src="assets/images/gallery/gallery-1-13.jpg" alt="gallery" />
              <div class="gallery-one__card__hover">
                <a
                  href="assets/images/gallery/gallery-1-13.jpg"
                  class="img-popup"
                >
                  <span class="gallery-one__card__icon"></span>
                </a>
              </div><!-- /.gallery-one__card__hover -->
            </div><!-- /.gallery-one__card -->
          </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

    <Footer />
  </div>

  <div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
      <span class="mobile-nav__close mobile-nav__toggler"
        ><i class="fa fa-times"></i></span
      >

      <div class="logo-box">
        <a href="index.html" aria-label="logo image"
          ><img
            src="assets/images/logo-light.png"
            width="155"
            alt="logo-light"
          /></a
        >
      </div>
      <!-- /.logo-box -->
      <div class="mobile-nav__container"></div>
      <!-- /.mobile-nav__container -->

      <ul class="mobile-nav__contact list-unstyled">
        <li>
          <i class="fa fa-envelope"></i>
          <a href="mailto:needhelp@floens.com">needhelp@floens.com</a>
        </li>
        <li>
          <i class="fa fa-phone-alt"></i>
          <a href="tel:+9156980036420">+91 5698 0036 420</a>
        </li>
      </ul><!-- /.mobile-nav__contact -->
      <div class="mobile-nav__social">
        <a href="https://facebook.com/">
          <i class="icon-facebook" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
        </a>
        <a href="https://twitter.com/">
          <i class="icon-twitter" aria-hidden="true"></i>
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://instagram.com/">
          <i class="icon-instagram" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
        </a>
        <a href="https://youtube.com/">
          <i class="icon-youtube" aria-hidden="true"></i>
          <span class="sr-only">Youtube</span>
        </a>
      </div><!-- /.mobile-nav__social -->
    </div>
    <!-- /.mobile-nav__content -->
  </div>
  <!-- /.mobile-nav__wrapper -->

  <aside class="sidebar-one">
    <div class="sidebar-one__overlay sidebar-btn__toggler">
    </div><!-- /.siderbar-ovarlay -->
    <div class="sidebar-one__content">
      <span class="sidebar-one__close sidebar-btn__toggler"
        ><i class="fa fa-times"></i></span
      >
      <div class="sidebar-one__logo sidebar-one__item">
        <a href="index.html" aria-label="logo image"
          ><img
            src="assets/images/logo-light.png"
            width="123"
            alt="logo-dark"
          /></a
        >
      </div><!-- /.sidebar-one__logo -->
      <div class="sidebar-one__about sidebar-one__item">
        <p class="sidebar-one__about__text">
          Tiles company, also known as a tile manufacturer or distributor,
          specializes in the production and distri
        </p>
      </div><!-- /.sidebar-one__about -->
      <div class="sidebar-one__info sidebar-one__item">
        <h4 class="sidebar-one__title">Information</h4>
        <ul class="sidebar-one__info__list">
          <li>
            <span class="icon-location-2"></span>
            <address>85 Ketch Harbour Road Bensal PA 19020</address>
          </li>
          <li>
            <span class="icon-paper-plane"></span>
            <a href="mailto:needhelp@company.com">needhelp@company.com</a>
          </li>
          <li>
            <span class="icon-phone-call"></span>
            <a href="tel:+9156980036420">+91 5698 0036 420</a>
          </li>
        </ul><!-- /.sidebar-one__info__list -->
      </div><!-- /.sidebar-one__info -->
      <div class="sidebar-one__social floens-social sidebar-one__item">
        <a href="https://facebook.com/">
          <i class="icon-facebook" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
        </a>
        <a href="https://twitter.com/">
          <i class="icon-twitter" aria-hidden="true"></i>
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://instagram.com/">
          <i class="icon-instagram" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
        </a>
        <a href="https://youtube.com/">
          <i class="icon-youtube" aria-hidden="true"></i>
          <span class="sr-only">Youtube</span>
        </a>
      </div><!-- /sidebar-one__social -->
      <div class="sidebar-one__newsletter sidebar-one__item">
        <label class="sidebar-one__title" for="sidebar-email"
          >Newsletter Subscribe</label
        >
        <form
          action="#"
          class="sidebar-one__newsletter__inner mc-form"
          data-url="MAILCHIMP_FORM_URL"
        >
          <input
            type="email"
            name="sidebar-email"
            id="sidebar-email"
            class="sidebar-one__newsletter__input"
            placeholder="Email Address"
          />
          <button type="submit" class="sidebar-one__newsletter__btn"
            ><span class="icon-email" aria-hidden="true"></span></button
          >
        </form>
        <div class="mc-form__response"></div><!-- /.mc-form__response -->
      </div><!-- /.sidebar-one__form -->
    </div><!-- /.sidebar__content -->
  </aside><!-- /.sidebar-one -->

  <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
    <span class="scroll-to-top__text">back top</span>
    <span class="scroll-to-top__wrapper"
      ><span class="scroll-to-top__inner"></span></span
    >
  </a>
</Layout>
