---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MobileNav from "../components/MobileNav.astro";
import SidebarOne from "../components/SidebarOne.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="custom-cursor__cursor"></div>
  <div class="custom-cursor__cursor-two"></div>

  <div class="preloader">
    <div
      class="preloader__image"
      style="background-image: url(assets/images/loader.png);"
    >
    </div>
  </div>

  <div class="page-wrapper">
    <Header />
    <section class="page-header">
      <div
        class="page-header__bg"
        style="background-image: url('assets/images/backgrounds/page-header-bg-1-1.png');"
      >
      </div><!-- /.page-header__bg -->
      <div class="container">
        <h2 class="page-header__title">Contact Us</h2>
        <ul class="floens-breadcrumb list-unstyled">
          <li><i class="icon-home"></i> <a href="/">Home</a></li>
          <li><span>Contact Us</span></li>
        </ul><!-- /.thm-breadcrumb list-unstyled -->
      </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="contact-one section-space">
      <div
        class="contact-one__bg"
        style="background-image: url('assets/images/backgrounds/contact-bg-1.png');"
      >
      </div><!-- /.contact-one__bg -->
      <div class="container">
        <div class="row gutter-y-40">
          <div class="col-lg-6">
            <div class="contact-one__content">
              <div class="sec-title sec-title--border">
                <h6 class="sec-title__tagline">
                  contact
                </h6><!-- /.sec-title__tagline -->

                <h3 class="sec-title__title">
                  Reach out & <br /> Connect with Us
                </h3><!-- /.sec-title__title -->
              </div><!-- /.sec-title -->

              <p class="contact-one__text">
                Our vision is to provide innovative, independent flooring
                solutions that solve problems for homes, industries, and
                workspaces, as well as flooring we would like in our own
                residences, work spaces,
              </p><!-- /.contact-one__text -->
              <div
                class="contact-one__info wow fadeInUp"
                data-wow-duration="1500ms"
                data-wow-delay="00ms"
              >
                <div
                  class="contact-one__info__bg"
                  style="background-image: url('assets/images/shapes/contact-info-bg.png');"
                >
                </div><!-- /.contact-one__info__bg -->
                <div class="contact-one__info__content">
                  <div class="contact-one__info__item">
                    <div class="contact-one__info__item__inner">
                      <div class="contact-one__info__icon">
                        <span class="icon-phone-call"></span>
                      </div><!-- /.contact-one__info__icon -->
                      <p class="contact-one__info__text">
                        <a href="tel:+919879791993">+91 98797 91993</a>
                      </p><!-- /.contact-one__info__text -->
                    </div><!-- /.contact-one__info__item__inner -->
                  </div><!-- /.contact-one__info__item -->
                  <div class="contact-one__info__item">
                    <div class="contact-one__info__item__inner">
                      <div class="contact-one__info__icon">
                        <span class="icon-paper-plane"></span>
                      </div><!-- /.contact-one__info__icon -->
                      <p class="contact-one__info__text">
                        <a href="mailto:info@fionexim.com">info@fionexim.com</a>
                      </p><!-- /.contact-one__info__text -->
                    </div><!-- /.contact-one__info__item__inner -->
                  </div><!-- /.contact-one__info__item -->
                  <div class="contact-one__info__item">
                    <div class="contact-one__info__item__inner">
                      <div class="contact-one__info__icon">
                        <span class="icon-location"></span>
                      </div><!-- /.contact-one__info__icon -->
                      <address class="contact-one__info__text">
                        <a
                          href="https://maps.app.goo.gl/xJRgsEyjh8s7jhsr6"
                          target="_blank"
                          >304- Anand Plaza, Anand Bunglow Chowk, Mavdi Main
                          Road, Rajkot - 360004</a
                        >
                      </address><!-- /.contact-one__info__text -->
                    </div><!-- /.contact-one__info__item__inner -->
                  </div><!-- /.contact-one__info__item -->
                </div><!-- /.contact-one__info__content -->
                <img
                  src="assets/images/shapes/contact-shape-1-1.png"
                  alt="contact image"
                  class="contact-one__info__image"
                />
              </div><!-- /.contact-one__info -->
            </div><!-- /.contact-one__content -->
          </div><!-- /.col-xl-6 -->
          <div class="col-lg-6">
            <form
              class="contact-one__form contact-form-validated form-one wow fadeInUp"
              data-wow-duration="1500ms"
              data-wow-delay="200ms"
              action="https://api.web3forms.com/submit"
              method="POST"
              id="form"
            >
              <div
                class="contact-one__form__bg"
                style="background-image: url('assets/images/shapes/contact-info-form-bg.png');"
              >
              </div><!-- /.contact-one__form__bg -->
              <div class="contact-one__form__top">
                <h2 class="contact-one__form__title">
                  Get In Touch With Us And Enjoy <br />
                  Top-Notch Support
                </h2><!-- /.contact-one__form__title -->
              </div><!-- /.contact-one__form__top -->
              <div class="form-one__group form-one__group--grid">
                <div
                  class="form-one__control form-one__control--input form-one__control--full"
                >
                  <input
                    type="hidden"
                    name="access_key"
                    value="6169c8c8-2d30-44f5-a8f6-e45b8f46361b"
                  />
                  <input type="text" name="name" placeholder="Your name" />
                </div><!-- /.form-one__control form-one__control--full -->

                <div class="form-one__control form-one__control--full">
                  <input type="email" name="email" placeholder="your email" />
                </div><!-- /.form-one__control form-one__control--full -->
                <div class="form-one__control form-one__control--full">
                  <input
                    type="text"
                    name="phone"
                    placeholder="your mobile number"
                  />
                </div>
                <div
                  class="form-one__control form-one__control--mesgae form-one__control--full"
                >
                  <textarea name="message" placeholder="Write message"
                  ></textarea><!-- /# -->
                </div><!-- /.form-one__control -->
                <div class="form-one__control form-one__control--full">
                  <button type="submit" class="floens-btn">
                    <span>send message</span>
                    <i class="icon-right-arrow"></i>
                  </button>
                </div><!-- /.form-one__control -->
                <div id="result" class="form-result" style="margin-top: 1rem;">
                </div>
              </div><!-- /.form-one__group -->
            </form>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <img
        src="assets/images/contact/contact-1-2.jpg"
        alt="contact image"
        class="contact-one__image-two wow fadeInRight"
        data-wow-duration="1500ms"
        data-wow-delay="00ms"
      />
    </section><!-- /.contact-one section-space -->

    <section class="contact-map">
      <div class="container-fluid">
        <div class="google-map google-map__contact">
          <iframe
            title="template google map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d776.1787602417791!2d70.7939297887764!3d22.27233676341675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca69456cdb17%3A0x3084ddbea29c5ba7!2sAnand%20Plaza%2C%20Krishnanagar%20Main%20Rd%2C%20Beside%20Ritav%20Tea%2C%20Anand%20Bunglow%20Chowk%2C%20Jayant%20Society%2C%20Sardar%20Nagar%2C%20Rajkot%2C%20Gujarat%20360004!5e0!3m2!1sen!2sin!4v1749711049653!5m2!1sen!2sin"
            class="map__contact"
            allowfullscreen></iframe>
        </div><!-- /.google-map -->
      </div><!-- /.container-fluid -->
    </section><!-- /.contact-map -->
    <Footer />
  </div>

  <MobileNav />
  <!-- /.mobile-nav__wrapper -->

  <SidebarOne />

  <!-- /.sidebar-one -->

  <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
    <span class="scroll-to-top__text">back top</span>
    <span class="scroll-to-top__wrapper"
      ><span class="scroll-to-top__inner"></span></span
    >
  </a>
</Layout>

<script is:inline>
  // use astro:page-load event if you are using View Transitions

  document.addEventListener(
    "DOMContentLoaded",
    () => {
      const form = document.getElementById("form");
      const result = document.getElementById("result");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        form.classList.add("was-validated");
        if (!form.checkValidity()) {
          form.querySelectorAll(":invalid")[0].focus();
          return;
        }
        const formData = new FormData(form);
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);

        result.style.display = "block";
        result.className = "form-result";
        result.innerHTML = "Sending...";

        fetch("https://api.web3forms.com/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: json,
        })
          .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
              result.classList.add("text-green-500");
              result.innerHTML = json.message;
              form.reset();
              form.classList.remove("was-validated");
            } else {
              console.log(response);
              result.classList.add("text-red-500");
              result.innerHTML = json.message;
            }
          })
          .catch((error) => {
            console.log(error);
            result.classList.add("text-red-500");
            result.innerHTML = "Something went wrong!";
          })
          .then(function () {
            setTimeout(() => {
              result.style.display = "none";
              result.className = "form-result";
            }, 5000);
          });
      });
    },
    { once: true }
  );
</script>
