---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainSlider from "../components/MainSlider.astro";
import MobileNav from "../components/MobileNav.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="custom-cursor__cursor"></div>
  <div class="custom-cursor__cursor-two"></div>

  <div class="preloader">
    <div
      class="preloader__image"
      style="background-image: url(assets/images/loader.png);"
    >
    </div>
  </div>
  <!-- /.preloader -->
  <div class="page-wrapper">
    <Header />
    <!-- /.main-header -->

    <!-- main slider start -->
    <MainSlider />
    <!-- /.main-slider-two -->
    <!-- main slider end -->

    <!-- services start -->
    <section class="services-two section-space-two">
      <div class="container">
        <div class="services-two__top">
          <div class="row gutter-y-50 align-items-center">
            <div class="col-lg-8 col-md-10">
              <div class="sec-title @@extraClassName">
                <h6 class="sec-title__tagline">
                  collections
                </h6><!-- /.sec-title__tagline -->

                <h3 class="sec-title__title">
                  The Art of Quartz: Explore Our Collections
                </h3><!-- /.sec-title__title -->
              </div><!-- /.sec-title -->
            </div><!-- /.col-lg-8 -->
          </div><!-- /.row -->
        </div><!-- /.services-two__top -->
      </div><!-- /.container -->
      <div class="container-fluid">
        <div
          class="services-two__carousel floens-owl__carousel floens-owl__carousel--basic-nav owl-carousel owl-theme"
          data-owl-options='{
			"items": 1,
			"margin": 0,
			"loop": true,
			"smartSpeed": 700,
			"nav": true,			
			"dots": false,
			"autoplay": 600,
			"responsive":{
                "0":{
                    "items": 1,
                    "margin": 15
                },
				"576":{
                    "items": 1,
                    "margin": 15
                },
                "768":{
                    "items": 2,
                    "margin": 30
                },
                "992":{
                    "items": 2,
                    "margin": 30
                },
                "1200":{
                    "items": 3,
                    "margin": 30
                },
                "1400":{
                    "items": 3,
                    "margin": 30
                },
                "1600":{
                    "items": 4,
                    "margin": 30
                }
			}
		}'
        >
          <div class="item">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/services/Ivory-Opal.png"
                  alt="Tiling & concrete"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-tiling-concrete.html">Opal Series</a>
                </h3><!-- /.service-card-two__title -->
                <div class="service-card-two__bottom">
                  <a
                    href="service-d-tiling-concrete.html"
                    class="service-card-two__link floens-btn"
                  >
                    <span>service details</span>
                    <i class="icon-right-arrow"></i>
                  </a>
                  <span class="service-card-two__icon icon-tile"></span>
                </div><!-- /.service-card-two__bottom -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.item -->
          <div class="item">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/services/Harmony-Storm.png"
                  alt="Industrial Flooring"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-industrial-flooring.html">Storm Series</a>
                </h3><!-- /.service-card-two__title -->
                <div class="service-card-two__bottom">
                  <a
                    href="service-d-industrial-flooring.html"
                    class="service-card-two__link floens-btn"
                  >
                    <span>service details</span>
                    <i class="icon-right-arrow"></i>
                  </a>
                  <span class="service-card-two__icon icon-parquet"></span>
                </div><!-- /.service-card-two__bottom -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.item -->
          <div class="item">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/services/Red-Sparkle.png"
                  alt="Vinyl Plank"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-vinyl-plank.html">Sprkle Series</a>
                </h3><!-- /.service-card-two__title -->
                <div class="service-card-two__bottom">
                  <a
                    href="service-d-vinyl-plank.html"
                    class="service-card-two__link floens-btn"
                  >
                    <span>service details</span>
                    <i class="icon-right-arrow"></i>
                  </a>
                  <span class="service-card-two__icon icon-tiles"></span>
                </div><!-- /.service-card-two__bottom -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.item -->
          <div class="item">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/services/Grey-Premium.PNG"
                  alt="Carpets & rugs"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-carpets-rugs.html">Premium Series</a>
                </h3><!-- /.service-card-two__title -->
                <div class="service-card-two__bottom">
                  <a
                    href="service-d-carpets-rugs.html"
                    class="service-card-two__link floens-btn"
                  >
                    <span>service details</span>
                    <i class="icon-right-arrow"></i>
                  </a>
                  <span class="service-card-two__icon icon-carpet"></span>
                </div><!-- /.service-card-two__bottom -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.item -->
          <div class="item">
            <div class="service-card-two">
              <div
                class="service-card-two__bg"
                style="background-image: url('assets/images/services/service-bg-2-1.png');"
              >
              </div><!-- /.service-card-two__bg -->
              <div class="service-card-two__image">
                <img
                  src="assets/images/services/Kolkata-1.png"
                  alt="Oak Flooring"
                />
              </div><!-- /.service-card-two__image -->
              <div class="service-card-two__content">
                <h3 class="service-card-two__title">
                  <a href="service-d-oak-flooring.html">Kolkata Series</a>
                </h3><!-- /.service-card-two__title -->
                <div class="service-card-two__bottom">
                  <a
                    href="service-d-oak-flooring.html"
                    class="service-card-two__link floens-btn"
                  >
                    <span>service details</span>
                    <i class="icon-right-arrow"></i>
                  </a>
                  <span class="service-card-two__icon icon-wood-board"></span>
                </div><!-- /.service-card-two__bottom -->
              </div><!-- /.service-card-two__content -->
            </div><!-- /.service-card-two -->
          </div><!-- /.item -->
        </div><!-- /.services-two__carousel -->
      </div><!-- /.container-fluid -->
    </section><!-- /.services-two section-space-two -->
    <!-- services end -->

    <!-- about start -->
    <section class="about-two section-space">
      <div
        class="about-two__bg"
        style="background-image: url(assets/images/backgrounds/about-bg-2-1.png);"
      >
      </div>
      <!-- /.about-two__bg -->
      <div class="container">
        <div class="row gutter-y-60">
          <div
            class="col-lg-6 wow fadeInLeft"
            data-wow-duration="1500ms"
            data-wow-delay="00ms"
          >
            <div class="about-two__image">
              <div class="about-two__image__inner">
                <img
                  src="assets/images/about/about-2-1.png"
                  alt="about"
                  class="about-two__image__one"
                />
                <div class="about-two__image__inner__inner">
                  <img
                    src="assets/images/about/about-2-2.jpg"
                    alt="about"
                    class="about-two__image__two"
                  />
                </div><!-- /.about-two__image__inner__inner -->
                <div class="experience about-two__experience">
                  <div class="experience__inner">
                    <h3
                      class="experience__year"
                      style="background-image: url('assets/images/shapes/reliable-shape-1-1.png');"
                    >
                      5
                    </h3>
                    <!-- /.experience__year -->
                    <p class="experience__text">years of <br /> experience</p>
                    <!-- /.experience__text -->
                  </div><!-- /.experience__inner -->
                </div><!-- /.experience -->
              </div><!-- /.about-two__image__inner -->
            </div><!-- /.about-two__image-grid -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="about-two__content">
              <div class="sec-title sec-title--border">
                <h6 class="sec-title__tagline">
                  about us
                </h6><!-- /.sec-title__tagline -->

                <h3 class="sec-title__title">
                  Your Trusted Partner <br /> in Quartz Surfaces
                </h3><!-- /.sec-title__title -->
              </div><!-- /.sec-title -->

              <div
                class="about-two__content__text wow fadeInUp"
                data-wow-duration="1500ms"
                data-wow-delay="00ms"
              >
                <h5 class="about-two__text-title">
                  Driven by Quality, Defined by Elegance
                </h5>
                <!-- /.about-two__text-title -->
                <p class="about-two__text">
                  At Fion Exim, we believe a truly exceptional surface goes
                  beyond mere aesthetics. While we pride ourselves on offering
                  premium quartz renowned for its beauty and durability, our
                  true commitment lies in understanding your vision and helping
                  you craft spaces that inspire. Founded in 2021 by Mr. Anand
                  Panchal, our passion is rooted in providing not just a
                  superior product, but a dedicated partnership.
                </p>
                <p class="about-two__text">
                  This means unwavering attention to quality, a seamless
                  experience, and a shared journey towards creating the heart of
                  your home or the perfect finish for your kitchen. With Fion
                  Exim, you're choosing more than quartz; you're choosing a
                  commitment to lasting excellence and the realization of your
                  design dreams.
                </p>
                <!-- /.about-two__text -->
              </div><!-- /.about-two__content__text -->

              <div
                class="about-two__button wow fadeInUp"
                data-wow-duration="1500ms"
                data-wow-delay="200ms"
              >
                <a href="/about" class="floens-btn">
                  <span>more about us</span>
                  <i class="icon-right-arrow"></i>
                </a><!-- /.floens-btn -->
              </div><!-- /.about-two__button -->
            </div><!-- /.about-two__content -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.about-two section-space -->
    <!-- about end -->

    <!-- testimonials start -->
    <!-- <Testimonials /> -->
    <!-- testimonials end -->

    <Footer />
    <!-- /.main-footer -->
  </div><!-- /.page-wrapper -->

  <MobileNav />
  <!-- /.mobile-nav__wrapper -->

  <aside class="sidebar-one">
    <div class="sidebar-one__overlay sidebar-btn__toggler">
    </div><!-- /.siderbar-ovarlay -->
    <div class="sidebar-one__content">
      <span class="sidebar-one__close sidebar-btn__toggler"
        ><i class="fa fa-times"></i></span
      >
      <div class="sidebar-one__logo sidebar-one__item">
        <a href="/" aria-label="logo image"
          ><img
            src="assets/images/logo-fion.png"
            width="93"
            alt="logo-dark"
          /></a
        >
      </div><!-- /.sidebar-one__logo -->
      <div class="sidebar-one__about sidebar-one__item">
        <p class="sidebar-one__about__text">
          At Fion Exim, we're more than just suppliers of premium quartz; we
          strive to be your trusted partner in bringing your vision for
          beautiful and resilient spaces to life.
        </p>
      </div><!-- /.sidebar-one__about -->
      <div class="sidebar-one__info sidebar-one__item">
        <h4 class="sidebar-one__title">Information</h4>
        <ul class="sidebar-one__info__list">
          <li>
            <span class="icon-location-2"></span>
            <address>
              304- Anand Plaza, Anand Bunglow Chowk, Mavdi Main Road, Rajkot -
              360004
            </address>
          </li>
          <li>
            <span class="icon-paper-plane"></span>
            <a href="mailto:info@fionexim.com">info@fionexim.com</a>
          </li>
          <li>
            <span class="icon-phone-call"></span>
            <a href="tel:+919879791993">+91 98797 91993</a>
          </li>
        </ul><!-- /.sidebar-one__info__list -->
      </div><!-- /.sidebar-one__info -->
      <div class="sidebar-one__social floens-social sidebar-one__item">
        <a href="https://facebook.com/">
          <i class="icon-facebook" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
        </a>
        <a href="https://twitter.com/">
          <i class="icon-twitter" aria-hidden="true"></i>
          <span class="sr-only">Twitter</span>
        </a>
        <a href="https://instagram.com/">
          <i class="icon-instagram" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
        </a>
        <a href="https://youtube.com/">
          <i class="icon-youtube" aria-hidden="true"></i>
          <span class="sr-only">Youtube</span>
        </a>
      </div><!-- /sidebar-one__social -->
    </div><!-- /.sidebar__content -->
  </aside><!-- /.sidebar-one -->

  <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
    <span class="scroll-to-top__text">back top</span>
    <span class="scroll-to-top__wrapper"
      ><span class="scroll-to-top__inner"></span></span
    >
  </a>
</Layout>
