<header
  class="main-header main-header--two sticky-header sticky-header--normal"
>
  <div class="container-fluid">
    <div class="main-header__inner">
      <div class="main-header__left">
        <div class="main-header__logo">
          <a href="/">
            <img
              src="assets/images/logo-fion.png"
              alt="Floens HTML"
              width="110"
            />
          </a>
        </div><!-- /.main-header__logo -->
        <nav class="main-header__nav main-menu">
          <ul class="main-menu__list">
            <li>
              <a href="/">Home</a>
            </li>

            <li>
              <a href="/about">About</a>
            </li>

            <li>
              <a href="/collections">Our Collections</a>
            </li>

            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav><!-- /.main-header__nav -->
      </div><!-- /.main-header__left -->
      <div class="main-header__right">
        <div class="mobile-nav__btn mobile-nav__toggler">
          <span></span>
          <span></span>
          <span></span>
        </div><!-- /.mobile-nav__toggler -->

        <a
          href="https://drive.google.com/file/d/1yihiLk9vaUPZl5-OpqStC1r1hgdG_Mvx/view?usp=sharing"
          target="_blank"
          class="floens-btn main-header__btn"
          download
        >
          <span>Download Broucher</span>
          <i class="icon-right-arrow"></i>
        </a><!-- /.thm-btn main-header__btn -->
        <button class="main-header__sidebar-btn sidebar-btn__toggler">
          <span class="main-header__sidebar-btn__box"
          ></span><!-- /.main-header__sidebar-btn__box -->
          <span class="main-header__sidebar-btn__box"
          ></span><!-- /.main-header__sidebar-btn__box -->
          <span class="main-header__sidebar-btn__box"
          ></span><!-- /.main-header__sidebar-btn__box -->
        </button><!-- /.main-header__sidebar-btn -->
      </div><!-- /.main-header__right -->
    </div><!-- /.main-header__inner -->
  </div><!-- /.container-fluid -->
</header>
