---
const sliderOptions = {
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 3000,
  fade: true,
  speed: 2000,
  infinite: true,
  arrows: true,
  dots: false,
  prevArrow: `<button class="hero-slider__slick-button hero-slider__slick-button--prev">Prev <i class="icon-right-arrow"></i></button>`,
  nextArrow: `<button class="hero-slider__slick-button hero-slider__slick-button--next">Next <i class="icon-right-arrow"></i></button>`,
};
---

<section class="main-slider-two hero-slider">
  <div
    class="main-slider-two__carousel floens-slick__carousel--with-counter"
    data-slick-options={JSON.stringify(sliderOptions)}
  >
    <div class="main-slider-two__item">
      <div
        class="main-slider-two__bg"
        style="background-image: url(assets/images/backgrounds/slider-2-1.jpg);"
      >
      </div>
      <!-- /.main-slider-two__bg -->
      <div class="main-slider-two__wrapper container">
        <div class="main-slider-two__left">
          <div class="main-slider-two__content">
            <p class="main-slider-two__tagline">Welcome to fionexim</p>
            <!-- /.main-slider-two__tagline -->
            <h2 class="main-slider-two__title">
              Where Beauty Meets <br /> Enduring Strength
            </h2>
            <!-- /.main-slider-two__title -->
            <a href="about.html" class="main-slider-two__btn floens-btn">
              <span>discover more</span>
              <i class="icon-right-arrow"></i>
            </a><!-- /.main-slider-two__btn floens-btn -->
          </div><!-- /.main-slider-two__content -->
        </div><!-- /.main-slider-two__left -->
        <div class="main-slider-two__right">
          <div class="main-slider-two__image">
            <div class="main-slider-two__image__one">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Ivory-Sparkle.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__tiles">
                <div class="main-slider-two__tiles__circle"></div>
                <!-- /.main-slider-two__tiles__circle -->
                <h5 class="main-slider-two__tiles__title">ivory sparkle</h5>
                <!-- /.main-slider-two__tiles__title -->
              </div><!-- /.main-slider-two__tiles -->
            </div><!-- /.main-slider-two__image__one -->
            <div class="main-slider-two__image__two">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Ivory-Polarish.webp "
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__shape">
                <div class="main-slider-two__shape__circle"></div>
                <!-- /.main-slider-two__shape__circle -->
                <h5 class="main-slider-two__shape__title">ivory polarish</h5>
              </div><!-- /.main-slider-two__tilses -->
            </div><!-- /.main-slider-two__image__two -->
          </div><!-- /.main-slider-two__image -->
        </div><!-- /.main-slider-two__right -->
      </div><!-- /.main-slider-two__wrapper .container -->
    </div><!-- /.main-slider-two__item -->
    <div class="main-slider-two__item">
      <div
        class="main-slider-two__bg"
        style="background-image: url(assets/images/backgrounds/slider-2-2.jpg);"
      >
      </div>
      <!-- /.main-slider-two__bg -->
      <div class="main-slider-two__wrapper container">
        <div class="main-slider-two__left">
          <div class="main-slider-two__content">
            <p class="main-slider-two__tagline">Welcome to fionexim</p>
            <!-- /.main-slider-two__tagline -->
            <h2 class="main-slider-two__title">
              Elevate Your Space. <br /> Define Your Style.
            </h2>
            <!-- /.main-slider-two__title -->
            <a href="about.html" class="main-slider-two__btn floens-btn">
              <span>discover more</span>
              <i class="icon-right-arrow"></i>
            </a><!-- /.main-slider-two__btn floens-btn -->
          </div><!-- /.main-slider-two__content -->
        </div><!-- /.main-slider-two__left -->
        <div class="main-slider-two__right">
          <div class="main-slider-two__image">
            <div class="main-slider-two__image__one">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Premium-Ivory.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__tiles">
                <div class="main-slider-two__tiles__circle"></div>
                <!-- /.main-slider-two__tiles__circle -->
                <h5 class="main-slider-two__tiles__title">Premium Ivory</h5>
                <!-- /.main-slider-two__tiles__title -->
              </div><!-- /.main-slider-two__tiles -->
            </div><!-- /.main-slider-two__image__one -->
            <div class="main-slider-two__image__two">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/White-Sparkle.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__shape">
                <div class="main-slider-two__shape__circle"></div>
                <h5 class="main-slider-two__shape__title">White Sparkle</h5>
                <!-- /.main-slider-two__shape__circle -->
              </div><!-- /.main-slider-two__tilses -->
            </div><!-- /.main-slider-two__image__two -->
          </div><!-- /.main-slider-two__image -->
        </div><!-- /.main-slider-two__right -->
      </div><!-- /.main-slider-two__wrapper .container -->
    </div><!-- /.main-slider-two__item -->
    <div class="main-slider-two__item">
      <div
        class="main-slider-two__bg"
        style="background-image: url(assets/images/backgrounds/slider-2-3.jpg);"
      >
      </div>
      <!-- /.main-slider-two__bg -->
      <div class="main-slider-two__wrapper container">
        <div class="main-slider-two__left">
          <div class="main-slider-two__content">
            <p class="main-slider-two__tagline">Welcome to fionexim</p>
            <!-- /.main-slider-two__tagline -->
            <h2 class="main-slider-two__title">
              The Art of Surface. <br /> The Heart of Your Home.
            </h2>
            <!-- /.main-slider-two__title -->
            <a href="about.html" class="main-slider-two__btn floens-btn">
              <span>discover more</span>
              <i class="icon-right-arrow"></i>
            </a><!-- /.main-slider-two__btn floens-btn -->
          </div><!-- /.main-slider-two__content -->
        </div><!-- /.main-slider-two__left -->
        <div class="main-slider-two__right">
          <div class="main-slider-two__image">
            <div class="main-slider-two__image__one">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Black-Sparkle.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__tiles">
                <div class="main-slider-two__tiles__circle"></div>
                <!-- /.main-slider-two__tiles__circle -->
                <h5 class="main-slider-two__tiles__title">Black-Sparkle</h5>
                <!-- /.main-slider-two__tiles__title -->
              </div><!-- /.main-slider-two__tiles -->
            </div><!-- /.main-slider-two__image__one -->
            <div class="main-slider-two__image__two">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Carrara-Black.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__shape">
                <div class="main-slider-two__shape__circle"></div>
                <h5 class="main-slider-two__shape__title">Carrara Black</h5>
                <!-- /.main-slider-two__shape__circle -->
              </div><!-- /.main-slider-two__tilses -->
            </div><!-- /.main-slider-two__image__two -->
          </div><!-- /.main-slider-two__image -->
        </div><!-- /.main-slider-two__right -->
      </div><!-- /.main-slider-two__wrapper .container -->
    </div><!-- /.main-slider-two__item -->
    <div class="main-slider-two__item">
      <div
        class="main-slider-two__bg"
        style="background-image: url(assets/images/backgrounds/slider-2-4.jpg);"
      >
      </div>
      <!-- /.main-slider-two__bg -->
      <div class="main-slider-two__wrapper container">
        <div class="main-slider-two__left">
          <div class="main-slider-two__content">
            <p class="main-slider-two__tagline">Welcome to fionexim</p>
            <!-- /.main-slider-two__tagline -->
            <h2 class="main-slider-two__title">
              Imagine the Possibilities. <br />Experience Quartz.
            </h2>
            <!-- /.main-slider-two__title -->
            <a href="about.html" class="main-slider-two__btn floens-btn">
              <span>discover more</span>
              <i class="icon-right-arrow"></i>
            </a><!-- /.main-slider-two__btn floens-btn -->
          </div><!-- /.main-slider-two__content -->
        </div><!-- /.main-slider-two__left -->
        <div class="main-slider-two__right">
          <div class="main-slider-two__image">
            <div class="main-slider-two__image__one">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Brown-Sparkle.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__tiles">
                <div class="main-slider-two__tiles__circle"></div>
                <!-- /.main-slider-two__tiles__circle -->
                <h5 class="main-slider-two__tiles__title">Brown-Sparkle</h5>
                <!-- /.main-slider-two__tiles__title -->
              </div><!-- /.main-slider-two__tiles -->
            </div><!-- /.main-slider-two__image__one -->
            <div class="main-slider-two__image__two">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Chocklet-Brown-Sparkle.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__shape">
                <div class="main-slider-two__shape__circle"></div>
                <h5 class="main-slider-two__shape__title">
                  Chocklet-Brown-Sparkle
                </h5>
                <!-- /.main-slider-two__shape__circle -->
              </div><!-- /.main-slider-two__tilses -->
            </div><!-- /.main-slider-two__image__two -->
          </div><!-- /.main-slider-two__image -->
        </div><!-- /.main-slider-two__right -->
      </div><!-- /.main-slider-two__wrapper .container -->
    </div><!-- /.main-slider-two__item -->
    <div class="main-slider-two__item">
      <div
        class="main-slider-two__bg"
        style="background-image: url(assets/images/backgrounds/slider-2-5.jpg);"
      >
      </div>
      <!-- /.main-slider-two__bg -->
      <div class="main-slider-two__wrapper container">
        <div class="main-slider-two__left">
          <div class="main-slider-two__content">
            <p class="main-slider-two__tagline">Welcome to fionexim</p>
            <!-- /.main-slider-two__tagline -->
            <h2 class="main-slider-two__title">
              Your Trusted Partner <br /> in Quartz Surfaces
            </h2>
            <!-- /.main-slider-two__title -->
            <a href="about.html" class="main-slider-two__btn floens-btn">
              <span>discover more</span>
              <i class="icon-right-arrow"></i>
            </a><!-- /.main-slider-two__btn floens-btn -->
          </div><!-- /.main-slider-two__content -->
        </div><!-- /.main-slider-two__left -->
        <div class="main-slider-two__right">
          <div class="main-slider-two__image">
            <div class="main-slider-two__image__one">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Carrara-White.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__tiles">
                <div class="main-slider-two__tiles__circle"></div>
                <!-- /.main-slider-two__tiles__circle -->
                <h5 class="main-slider-two__tiles__title">Carrara White</h5>
                <!-- /.main-slider-two__tiles__title -->
              </div><!-- /.main-slider-two__tiles -->
            </div><!-- /.main-slider-two__image__one -->
            <div class="main-slider-two__image__two">
              <div class="main-slider-two__image__inner">
                <img
                  src="assets/images/slider/Frost-White-Base.webp"
                  alt="slider"
                />
              </div><!-- /.main-slider-two__image__inner -->
              <div class="main-slider-two__shape">
                <div class="main-slider-two__shape__circle"></div>
                <h5 class="main-slider-two__shape__title">Frost White Base</h5>
                <!-- /.main-slider-two__shape__circle -->
              </div><!-- /.main-slider-two__tilses -->
            </div><!-- /.main-slider-two__image__two -->
          </div><!-- /.main-slider-two__image -->
        </div><!-- /.main-slider-two__right -->
      </div><!-- /.main-slider-two__wrapper .container -->
    </div><!-- /.main-slider-two__item -->
  </div><!-- /.my-slider -->
</section>
