<section class="testimonials-two section-space-two" id="testimonials">
  <div class="container">
    <div class="sec-title sec-title--center">
      <h6 class="sec-title__tagline">
        testimonial
      </h6><!-- /.sec-title__tagline -->

      <h3 class="sec-title__title">
        What People are Talking <br /> About FionExim
      </h3><!-- /.sec-title__title -->
    </div><!-- /.sec-title -->

    <div
      class="testimonials-two__carousel floens-owl__carousel floens-owl__carousel--with-shadow floens-owl__carousel--basic-nav owl-carousel owl-theme"
      data-owl-options='{
                "items": 1,
                "margin": 0,
                "loop": true,
                "smartSpeed": 700,
                "nav": false,
                "dots": false,
                "autoplay": 600,
                "responsive": {
                    "0": {
                        "items": 1,
                        "nav": true,
                        "dots": false,
                        "margin": 10
                    },
                    "576": {
                        "items": 1,
                        "dots": true,
                        "nav": false,
                        "margin": 10
                    },
                    "768": {
                        "items": 1,
                        "dots": true,
                        "nav": false,
                        "margin": 10
                    },
                    "992": {
                        "items": 2,
                        "loop": false,
                        "nav": false,
                        "dots": false,
                        "margin": 30
                    }
                }
            }'
    >
      <div class="item">
        <div class="testimonials-card @@extraClassName">
          <div
            class="testimonials-card__bg"
            style="background-image: url(assets/images/testimonials/testimonials-card-bg.png);"
          >
          </div><!-- /.testimonials-card__bg -->
          <div class="testimonials-card__top">
            <div class="floens-ratings @@extraClassName">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
            </div><!-- /.product-ratings -->
            <a
              href="https://www.youtube.com/watch?v=h9MbznbxlLc"
              class="testimonials-card__video video-button video-popup"
            >
              <span class="icon-play"></span>
              <i class="video-button__ripple"></i>
            </a><!-- /.testimonials-card__video -->
          </div><!-- /.testimonials-card__top -->
          <div class="testimonials-card__content">
            <div class="testimonials-card__content__inner">
              <p class="testimonials-card__text">
                "I recently worked with <a
                  href="about.html"
                  class="testimonials-card__text__highlight">Floens</a
                > for my home renovation project, and I couldn't be happier with
                the results. From the moment I walked into their showroom, I was
                impressed by the extensive selection
              </p><!-- /.testimonials-card__text -->
            </div><!-- /.testimonials-card__content__inner -->
            <div class="testimonials-card__person">
              <div class="testimonials-card__person__inner">
                <img
                  src="assets/images/testimonials/testimonials-1-1.jpg"
                  alt="Michael G. Ware"
                  class="testimonials-card__person__image"
                />
                <div class="testimonials-card__person__info">
                  <h3 class="testimonials-card__person__name">
                    Michael G. Ware
                  </h3><!-- /.testimonials-card__person__name -->
                  <span class="testimonials-card__person__designation"
                    >managing director</span
                  ><!-- /.testimonials-card__person__designation -->
                </div><!-- /.testimonials-card__person__info -->
              </div><!-- /.testimonials-card__person__inner -->
            </div><!-- /.testimonials-card__person -->
          </div><!-- /.testimonials-card__content -->
          <div
            class="testimonials-card__quotes"
            style="background-image: url(assets/images/testimonials/testimonials-quote-bg-1-1.jpg);"
          >
            <svg
              class="testimonials-card__quotes__icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 52 38"
              fill="none"
            >
              <path
                d="M0 23.7248H10.3849L3.46157 37.5713H13.8465L20.7698 23.7248V2.95508H0V23.7248Z"
              ></path>
              <path
                d="M27.6929 2.95508V23.7248H38.0778L31.1544 37.5713H41.5393L48.4626 23.7248V2.95508H27.6929Z"
              ></path>
              <path
                d="M13.34 20.2698H3.45508V0.5H23.2248V20.6517L16.4925 34.1162H7.22567L13.7872 20.9934L14.149 20.2698H13.34Z"
              ></path>
              <path
                d="M41.0328 20.2698H31.1479V0.5H50.9177V20.6517L44.1854 34.1162H34.9185L41.48 20.9934L41.8419 20.2698H41.0328Z"
              ></path>
            </svg>
          </div><!-- /.testimonials-card__quotes -->
        </div><!-- /.testimonials-card -->
      </div><!-- /.item -->
      <div class="item">
        <div class="testimonials-card @@extraClassName">
          <div
            class="testimonials-card__bg"
            style="background-image: url(assets/images/testimonials/testimonials-card-bg.png);"
          >
          </div><!-- /.testimonials-card__bg -->
          <div class="testimonials-card__top">
            <div class="floens-ratings @@extraClassName">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
            </div><!-- /.product-ratings -->
            <a
              href="https://www.youtube.com/watch?v=h9MbznbxlLc"
              class="testimonials-card__video video-button video-popup"
            >
              <span class="icon-play"></span>
              <i class="video-button__ripple"></i>
            </a><!-- /.testimonials-card__video -->
          </div><!-- /.testimonials-card__top -->
          <div class="testimonials-card__content">
            <div class="testimonials-card__content__inner">
              <p class="testimonials-card__text">
                "I recently worked with <a
                  href="about.html"
                  class="testimonials-card__text__highlight">Floens</a
                > for my home renovation project, and I couldn't be happier with
                the results. From the moment I walked into their showroom, I was
                impressed by the extensive selection
              </p><!-- /.testimonials-card__text -->
            </div><!-- /.testimonials-card__content__inner -->
            <div class="testimonials-card__person">
              <div class="testimonials-card__person__inner">
                <img
                  src="assets/images/testimonials/testimonials-1-2.jpg"
                  alt="Anthony B. Castillo"
                  class="testimonials-card__person__image"
                />
                <div class="testimonials-card__person__info">
                  <h3 class="testimonials-card__person__name">
                    Anthony B. Castillo
                  </h3><!-- /.testimonials-card__person__name -->
                  <span class="testimonials-card__person__designation"
                    >managing director</span
                  ><!-- /.testimonials-card__person__designation -->
                </div><!-- /.testimonials-card__person__info -->
              </div><!-- /.testimonials-card__person__inner -->
            </div><!-- /.testimonials-card__person -->
          </div><!-- /.testimonials-card__content -->
          <div
            class="testimonials-card__quotes"
            style="background-image: url(assets/images/testimonials/testimonials-quote-bg-1-2.jpg);"
          >
            <svg
              class="testimonials-card__quotes__icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 52 38"
              fill="none"
            >
              <path
                d="M0 23.7248H10.3849L3.46157 37.5713H13.8465L20.7698 23.7248V2.95508H0V23.7248Z"
              ></path>
              <path
                d="M27.6929 2.95508V23.7248H38.0778L31.1544 37.5713H41.5393L48.4626 23.7248V2.95508H27.6929Z"
              ></path>
              <path
                d="M13.34 20.2698H3.45508V0.5H23.2248V20.6517L16.4925 34.1162H7.22567L13.7872 20.9934L14.149 20.2698H13.34Z"
              ></path>
              <path
                d="M41.0328 20.2698H31.1479V0.5H50.9177V20.6517L44.1854 34.1162H34.9185L41.48 20.9934L41.8419 20.2698H41.0328Z"
              ></path>
            </svg>
          </div><!-- /.testimonials-card__quotes -->
        </div><!-- /.testimonials-card -->
      </div><!-- /.item -->
    </div><!-- /.testimonials-two__carousel -->
  </div><!-- /.container -->
</section><!-- /.testimonials-two section-space-two -->
